<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: auto; margin-top: 20px;">
      <h3 style="text-align: center;">Datos Usuario </h3>
      <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <div align="center" >
          <!--<img class="mb-4 rounded-circle" src="../../../../assets/imagenes/1-andres.png" style="text-align: center !important;" alt="Imagen usuario" width="140" height="140">-->
          <img [src]="currentImage" (click)="inputImageProfile.click()" />
          <input hidden type="file" #inputImageProfile formControlName="photoURL"
            (change)="handleImage(($event?.target?.files)[0])" />
        </div>

        <div class="card-body">
          <div class="form-group">
            <label>Nombre usuario</label>
            <input type="text" formControlName="nombreUsuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombreUsuario.errors }" />
            <div *ngIf="submitted && f.nombreUsuario.errors" class="invalid-feedback">
              <div *ngIf="f.nombreUsuario.errors.required">Por favor, ingresa el nombre de usuario</div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">El email es obligatorio</div>
              <div *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">Formato invalido</div>
            </div>
          </div>
          <div class="form-group">
            <label>Genero</label>
            <div class="row col-md-12">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="m">
                <label class="form-check-label" for="inlineRadio1">Masculino</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="f">
                <label class="form-check-label" for="inlineRadio2">Femenino</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="descripcion"> Descripción</label>
            <textarea type="text" formControlName="descripcion" class="form-control" ></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Aceptar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-6">
    <app-geolocalizacion></app-geolocalizacion>
  </div>


</div>

