<div class="container">
  <div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-12 text-center">
        <h2>Lista de usuarios</h2>
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre usuario</th>
                  <th>Email</th>
                  <th>Genero</th>
                  <th>Localización</th>
                  <th>Descripción</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of lstUsuarios">
                  <th scope="row">{{usuario.id}}</th>
                  <td>{{usuario.nombreUsuario}}</td>
                  <td>{{usuario.email}}</td>
                  <td>{{usuario.genero}}</td>
                  <td>{{usuario.localizacion}}</td>
                  <td>{{usuario.descripcion}}</td>
                  <td>
                    <i class="fa fa-pencil" uib-tooltip="Edit" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-placement="left"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

