<div class="col-md-12">
  <div class="card" style="width: auto; margin-top: 20px;">
    <h3>Geolocalización</h3>

    <div class="form-group">
      <label>Ingrese su dirección</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Busca tu ubicación" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>

    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" >
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>

    <h5>Dirección: {{address}}</h5>
    <div>Latitud: {{latitude}}</div>
    <div>Longitud: {{longitude}}</div>
  </div>
</div>
